<div id="list_api_shop" ></div>
	<div class="footer"> 
		<div class="container">
			<div class="footer-agileinfo">
				<div class="col-md-6 footer-right">
					<div class="footer-right-map">
						
						<!--<div id="map"></div>-->
					</div> 
				</div>
				<div class="copyright">
					
					<p >Idioma</p>
					<div>
						<button ng-show="lang === 'es'" ng-click="changeLanguage('en')">{{'BUTTON_LANG' | translate | uppercase}}</button>
						<button ng-show="lang === 'en'" ng-click="changeLanguage('es')">{{'BUTTON_LANG' | translate | uppercase}}</button>
					</div>
				</div>
			</div>
	</div> 
</div>