<!DOCTYPE html>
<html  ng-app="gundam_proyect_root" ng-controller="lang_controller"  lang="{{ lang }}" >
    <head>
        <meta charset="utf-8">
        <title>Industrias</title>
    </head>
    <body  >
        <div ng-include='"frontend/assets/includes/menu.view.html"'></div>
        <div ng-view></div>
		<div ng-include='"frontend/assets/includes/footer.view.html"'></div>
    </body>
	<!-- librerias -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    
		<!--Mis links-->
			<link rel="stylesheet" href='frontend/assets/css/my_styles.css' />
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.18/angular-material.css">
		<!--Mis links-->
		
		<!--JqWidgets-->
			<link href="https://jqwidgets.com/public/jqwidgets/styles/jqx.base.css" rel="stylesheet" type="text/css" />
			<script src="https://jqwidgets.com/public/jqwidgets/jqx-all.js"></script>
		<!--templates-->

		<!-- Custom Theme files -->
			<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
			<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> 
			<link href="frontend/assets/css/bootstrap.css" rel='stylesheet' type='text/css' /> 
			<link href="frontend/assets/css/style.css" rel='stylesheet' type='text/css' />
			<link href="frontend/assets/css/font-awesome.css" rel="stylesheet"> 			<!-- font-awesome icons -->
		<!-- //Custom Theme files -->

		<!-- fonts -->
			<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
			<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
		<!-- //fonts -->

		<!-- js -->
			<script src="frontend/assets/js/bootstrap.js"></script> 
			<script src="frontend/assets/js/menu_jquery.js"></script> <!-- pop-up -->
			<script src="frontend/assets/js/move-top.js"></script>
			<script src="frontend/assets/js/easing.js"></script>
			<script src="frontend/assets/js/template_js.js"></script>	
		<!-- //js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js" ></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-cookies.min.js" ></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate.min.js"></script>
  		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.18/angular-material.js"></script> 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" /> 
		<script src="frontend/app.js"></script> 
		<script src="frontend/apiconnector.js"></script> 
		<script src="frontend/utils/common_directives.directives.js"></script>
		<script src="frontend/utils/lang/lang_controller.js"></script>
		<script src="frontend/utils/data_storage.services.js"></script>
		<script src="frontend/utils/toaster.services.js"></script>
		<script src="frontend/utils/dropZone_Utils/dropzone.controller.directive.js"></script>
		<script src="frontend/utils/dialog.services.js"></script>
		<script src="frontend/assets/js/ng-infinite-scroll.js"></script>
		<script src="frontend/assets/js/dipagination.js"></script>
		<script src="frontend/modules/home/controller/home_main_controller.js"></script>  
		<script src="frontend/modules/contact/controller/contact.controller.js"></script>
		<!-- catalog -->
			<script src="frontend/modules/catalog/controller/catalog.controller.js"></script>
			<script src="frontend/modules/catalog/controller/stock_controller.js"></script>
			<script src="frontend/modules/catalog/controller/compare.controller.js"></script>
			<script src="frontend/modules/catalog/directives/catalog.directive.js"></script>
			<script src="frontend/modules/catalog/directives/stock.directive.js"></script>
			<script src="frontend/modules/catalog/directives/compare.directive.js"></script>
			<script src="frontend/modules/catalog/services/catalog.services.js"></script>
			<script src="frontend/modules/catalog/services/stock.services.js"></script>
		<!-- catalog -->
		<script src="frontend/modules/authentication/controller/authentication.controller.js"></script> 
		<script src="frontend/modules/authentication/directives/auth.directives.js"></script> 
	<!-- librerias -->
</html>