<!DOCTYPE html>
<html ng-app="test" >
    <head>
        <meta charset="utf-8">
        <title>Dialog Test</title>
    </head>
    <body ng-controller="dialog_test as test">
        <input type="button" ng-click="test.alert()"value="Alert">
        <input type="button" ng-click="test.confirm()"value="Confirm">
        <input type="button" ng-click="test.Prompt()"value="Prompt">
        <input type="button" ng-click="test.Advanced()"value="Advanced">
        <input type="button" ng-click="test.Tab()"value="Tab">
    </body>
	<!-- librerias -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.18/angular-material.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js" ></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-cookies.min.js" ></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.18/angular-material.js"></script>
        <script src="app.js"></script>
	<!-- librerias -->
</html>