<!-- <div ng-repeat="products in catalog_main_controller.test_catalog">{{products}}</div> -->

<div class="about catalog_container">
    <div class="aboutw3-agileinfo">
        <!-- container -->
        <div class="container">
            <h2 class="agileits-title">Catalog</h2>
        </div>
        <!-- //container -->
    </div>
    <!-- about-bottom -->
    <div class="about-bottom">
        <!-- container -->
        <div class="container">
            <catalog filter="{{catalog_main_controller.data.filter}} {{catalog_main_controller.data.controller}}" ></catalog>

        </div>
    <!-- about-bottom -->
</div>