/* modificaciones mias */
	.dad {
		display: flex ;
		justify-content: center;
		margin: 1rem;
		padding: 1rem;
		align-items: center;
		/* IMPORTANTE */
		text-align: center;
	}
	.dad select, .dad .jqxInput {
	min-width: 180px;
	display: inline-block;
	width: auto;
	vertical-align: middle;
	}
	.dad .search_autoguess {
	margin: 1rem;
	}

	#table_list_shop,#list_shop_home,#table_detailed_shop {
	width: 100%;
	text-align: center;
	}
	#table_list_shop td,#list_shop_home td,#table_detailed_shop td {
	border: 1px solid #AAAAAA;
	padding: 1%;
	width: 5%; /*Aquí va el ancho de la Celda*/
	height: 7px;
	font-size: 14px;
	text-align: center;
	}

	.listing {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	list-style: none;
	margin: 1em;
	width: 100%;
	}
	.listing li {
	border: 1px solid #ffe066;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 20%;
	}
	.listing .cta {
	border-top: 1px solid #ffe066;
	padding: 10px;
	text-align: center;
	}
	.listing .body {
	padding: 10px;
	}
	.listing .body img {
	display: block;
	margin: 1em auto;
	max-width: 100%;

	}
/* Modificaciones mias */
/* ShopCart Count */
	.p1[data-count]:after{
	position:absolute;
	right:10%;
	content: attr(data-count);
	font-size:40%;
	padding:.2em;
	border-radius:50%;
	line-height:1em;
	color: white;
	background:rgba(255,0,0,.85);
	text-align:center;
	min-width: 1em;
	
	}
/* ShopCart Count */
/* Print products cart */
	#body_cart {
		margin: 5%;
	}
	#body_cart table {
		border-collapse: collapse;
		width: 100%;
	}

	#body_cart th, td {
		padding: 3px;
		text-align: left;
		border-bottom: 1px solid #ddd;
	}
/* Print products cart */
/* Flexbox-register_icons */
	.header-top-right {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row ;
		align-items: center;
		flex-wrap:  nowrap;
	}
	#No_user_avatar{
		height:60px; 
     	width: 30%; 
     	/* border: 3px solid #555; */
		 background-image: url("../images/default-user-image.png");
		 background-repeat: no-repeat;
		 background-size: cover;
	}
	#user_avatar {
     	width: 35%; 
	}
	img{
		width: 70%;
	}
	.user_select_avatar{
		display: flex;
		flex-flow: row;
		justify-content: space-around;
		list-style: none;
		margin: 1em;
		width: 100%;
	}
	#profile_pic img{
 		padding: 5px;
		width: 70px;
		height: 70px;
		margin-top: 10px;
		

	}
/* Flexbox-register_icons */
/* Login */
		.auth_container{
		margin:0;
		color:#6a6f8c;
		background:#c8c8c8;
		font:600 16px/18px 'Open Sans',sans-serif;
		background:url("../images/verkanyusr01.jpg") no-repeat center;
		background-size: 100%;
	}
	*,:after,:before{box-sizing:border-box}
	.clearfix:after,.clearfix:before{content:'';display:table}
	.clearfix:after{clear:both;display:block}
	a{color:inherit;text-decoration:none}
	.error_span{
		color: #800;
	}
	.login-wrap{
		width:100%;
		margin:auto;
		max-width:525px;
		min-height:670px;
		position:relative;
		
		box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	}
	.login-html{
		width:100%;
		height:100%;
		position:absolute;
		padding:90px 70px 50px 70px;
		background:rgba(40,57,101,.9);
	}
	.login-html .sign-in-htm,
	.login-html .sign-up-htm{
		top:0;
		left:0;
		right:0;
		bottom:0;
		position:absolute;
		transform:rotateY(180deg);
		backface-visibility:hidden;
		transition:all .4s linear;
	}
	.login-html .sign-in,
	.login-html .sign-up,
	.login-form .group .check{
		display:none;
	}
	.login-html .tab,
	.login-form .group .label,
	.login-form .group .button{
		text-transform:uppercase;
	}
	.login-html .tab{
		font-size:22px;
		margin-right:15px;
		padding-bottom:5px;
		margin:0 15px 10px 0;
		display:inline-block;
		border-bottom:2px solid transparent;
	}
	.login-html .sign-in:checked + .tab,
	.login-html .sign-up:checked + .tab{
		color:#fff;
		border-color:#1161ee;
	}
	.login-form{
		min-height:345px;
		position:relative;
		perspective:1000px;
		transform-style:preserve-3d;
	}
	.login-form .group{
		margin-bottom:15px;
	}
	.login-form .group .label,
	.login-form .group .input,
	.login-form .group .button{
		width:100%;
		color:#fff;
		display:block;
	}
	.login-form .group .input,
	.login-form .group .button{
		border:none;
		padding:15px 20px;
		border-radius:25px;
		background:rgba(255,255,255,.1);
	}
	.login-form .group input[data-type="password"]{
		text-security:circle;
		-webkit-text-security:circle;
	}
	.login-form .group .label{
		color:#aaa;
		font-size:12px;
	}
	.login-form .group .button{
		background:#1161ee;
	}
	.login-form .group label .icon{
		width:15px;
		height:15px;
		border-radius:2px;
		position:relative;
		display:inline-block;
		background:rgba(255,255,255,.1);
	}
	.login-form .group label .icon:before,
	.login-form .group label .icon:after{
		content:'';
		width:10px;
		height:2px;
		background:#fff;
		position:absolute;
		transition:all .2s ease-in-out 0s;
	}
	.login-form .group label .icon:before{
		left:3px;
		width:5px;
		bottom:6px;
		transform:scale(0) rotate(0);
	}
	.login-form .group label .icon:after{
		top:6px;
		right:0;
		transform:scale(0) rotate(0);
	}
	.login-form .group .check:checked + label{
		color:#fff;
	}
	.login-form .group .check:checked + label .icon{
		background:#1161ee;
	}
	.login-form .group .check:checked + label .icon:before{
		transform:scale(1) rotate(45deg);
	}
	.login-form .group .check:checked + label .icon:after{
		transform:scale(1) rotate(-45deg);
	}
	.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
		transform:rotate(0);
	}
	.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
		transform:rotate(0);
	}

	.hr{
		height:2px;
		margin:60px 0 50px 0;
		background:rgba(255,255,255,.2);
	}
	.foot-lnk{
		text-align:center;
	}
/* Login */
/* Profile Tabs */
	/* My Acount */
		#my_acount {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row ;
			align-items: center;
			flex-wrap:  nowrap;
		}
		.profile_user_avatar {
			width: 15%; 
		}
		.profile_user_name {
			width: 15%; 
		}
		.profile_user_mail {
			width: 15%; 
		}
	/* My Acount */
	/* Update Acount */
	#update_profile{
		align-items: center;
	}
		.form-control{
			background: transparent;
		}

		form > div {
			position: relative;
			
		}
		form input, form textarea {
			width: 100%;
			border: 2px solid gray;
			background: none;
			position: relative;
			top: 0;
			left: 0;
			z-index: 1;
			padding: 8px 12px;
			outline: 0;
		}
		form input:valid, form textarea:valid {
			background: white;
		}
		form input:focus, form textarea:focus {
			border-color: #357EBD;
		}
		form input:focus + label, form textarea:focus + label {
			background: #357EBD;
			color: white;
			font-size: 70%;
			padding: 1px 6px;
			z-index: 2;
			text-transform: uppercase;
		}
		form label {
			-webkit-transition:  0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
			transition:  0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
			position: absolute;
			color: #999;
			padding: 7px 6px;
			font-weight: normal;
		}
		form textarea {
			display: block;
			resize: vertical;
		}
		form.go-bottom input, form.go-bottom textarea {
			padding: 12px 12px 12px 12px;
		}
		form.go-bottom label {
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;
		}
		form.go-bottom input:focus, form.go-bottom textarea:focus {
			padding: 4px 6px 20px 6px;
		}
		form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
			top: 100%;
			margin-top: -16px;
		}
		form.go-right label {
			border-radius: 0 5px 5px 0;
			height: 100%;
			top: 0;
			right: 100%;
			width: 100%;
			margin-right: -100%;
		}
		form.go-right input:focus + label, form.go-right textarea:focus + label {
			right: 0;
			margin-right: 0;
			width: 40%;
			padding-top: 5px;
		}
	/* Update Acount */
/* Profile Tabs */	
/* Dropzone */
	.one {
		margin: 10px;
		box-sizing: inherit;
		box-sizing: border-box;
		cursor: pointer;
		overflow: hidden;
		/* display: block; */
		position: relative;
		width: 100%;
		height: 100px;
		background: rgb(255, 255, 255);
		border-radius: 4px;
		font: caption;
		text-align: center;
		/* border: 1px dotted silver; */
		box-sizing: border-box;
	}

	.one p {
		padding-top: 16px;
		font-size: 16px;
	}

	.one span {
		display: block;
		font-size: 10px;
	}

	.one img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100px;
	}

	.one input {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		font-size: 9999px;
		opacity: 0;
		cursor: pointer;
	}

	.two {
		display: block;
		margin: 30px;
	}

	.two span {
		display: none;
	}

	.two.drop-zone span {
		display: block;
		font-size: 10px;
	}

	pre {
		margin: 30px;
		font-size: 10px;
	}

/* dropzone */
/* contact */ 
	@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
	.contact_form {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
		font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	}

	.contact_form {
		font-family: "Roboto", Helvetica, Arial, sans-serif;
		font-weight: 100;
		font-size: 12px;
		line-height: 30px;
		color: #777;
	}
	.contact_form .container {
		max-width: 400px;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}

	#contact input[type="text"],
	#contact input[type="email"],
	#contact input[type="tel"],
	#contact input[type="url"],
	#contact textarea,
	#contact button[type="submit"] {
	font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
	}

	#contact {
	background: #F9F9F9;
	padding: 25px;
	margin: 150px 0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	}

	#contact h3 {
	display: block;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
	}

	#contact h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 13px;
	font-weight: 400;
	}

	fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
	}

	#contact input[type="text"],
	#contact input[type="email"],
	#contact input[type="tel"],
	#contact input[type="url"],
	#contact textarea {
	width: 100%;
	border: 1px solid #ccc;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	}

	#contact input[type="text"]:hover,
	#contact input[type="email"]:hover,
	#contact input[type="tel"]:hover,
	#contact input[type="url"]:hover,
	#contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #aaa;
	}

	#contact textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
	}

	#contact button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: #4CAF50;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
	}

	#contact button[type="submit"]:hover {
	background: #43A047;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
	}

	#contact button[type="submit"]:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	}

	.copyright {
	text-align: center;
	}

	#contact input:focus,
	#contact textarea:focus {
	outline: 0;
	border: 1px solid #aaa;
	}

	::-webkit-input-placeholder {
	color: #888;
	}

	:-moz-placeholder {
	color: #888;
	}

	::-moz-placeholder {
	color: #888;
	}

	:-ms-input-placeholder {
	color: #888;
	}
/* contact */
/* catalog grid */
	.catalog_container{
		margin:0;
		color:#6a6f8c;
		background:#c8c8c8;
		font:600 16px/18px 'Open Sans',sans-serif;
		background:url("../images/background.jpg") no-repeat center;
		background-size: 100%;
	}
	.flex-container {
		padding: 0;
		margin: 0;
		list-style: none;
		
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		
		-webkit-flex-flow: row wrap;
		justify-content: space-around;
	}

	.flex-item {
		background: white;
		padding: 5px;
		width: 500px;
		height: 250px;
		margin-top: 10px;
		border-left: 6px solid rgb(0, 98, 255);
  		background-color: rgb(255, 255, 255);
		line-height: 150px;
		color: rgb(0, 0, 0);
		font-weight: bold;
		text-align: left;
	}
	.product_image{
		width: 30%;
		height: 70%;
		margin: 30px;
	}
	.product_image:hover {
		transform: scale(1.2); 
	}
	.product_tittle{
		color: black;
		font-family: "Roboto", Helvetica, Arial, sans-serif;
		text-align: center;
		font-size: 100%;
	}
	.shop_tittle{
		color: brown;
		font-family: "Roboto", Helvetica, Arial, sans-serif;
		text-align: center;
		font-size: 80%;
	}
	.product_tittle:hover{
		color: rgb(13, 13, 73);
	}
	
/* catalog grid */
/* Detailed Catalog */
	.center{
	width: 150px;
	}
	body {
	font-family: 'open sans';
	overflow-x: hidden; }

	img {
	max-width: 100%; }

	.preview {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column; }
	@media screen and (max-width: 996px) {
		.preview {
		margin-bottom: 20px; } }

	.preview-pic {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
			flex-grow: 1; }

	.preview-thumbnail.nav-tabs {
	border: none;
	margin-top: 15px; }
	.preview-thumbnail.nav-tabs li {
		width: 18%;
		margin-right: 2.5%; }
		.preview-thumbnail.nav-tabs li img {
		max-width: 100%;
		display: block; }
		.preview-thumbnail.nav-tabs li a {
		padding: 0;
		margin: 0; }
		.preview-thumbnail.nav-tabs li:last-of-type {
		margin-right: 0; }

	.tab-content {
	overflow: hidden; }
	.tab-content img {
		width: 50%;
		-webkit-animation-name: opacity;
				animation-name: opacity;
		-webkit-animation-duration: .3s;
				animation-duration: .3s; }

	.card {
	background: rgb(255, 255, 255);
	padding: 5em;
	line-height: 1.5em; }

	@media screen and (min-width: 997px) {
	.wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex; } }

	.details {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column; }

	.colors {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
			flex-grow: 1; }

	.product-title, .price, .sizes, .colors {
	text-transform: UPPERCASE;
	font-weight: bold; }

	.checked, .price span {
	color: #ff9f1a; }

	.product-title, .rating, .product-description, .price, .vote, .sizes {
	margin-bottom: 15px; }

	.product-title {
	margin-top: 0; }

	.size {
	margin-right: 10px; }
	.size:first-of-type {
		margin-left: 40px; }

	.color {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	height: 2em;
	width: 2em;
	border-radius: 2px; }
	.color:first-of-type {
		margin-left: 20px; }

	.add-to-cart, .like {
	background: #ff9f1a;
	padding: 1.2em 1.5em;
	border: none;
	text-transform: UPPERCASE;
	font-weight: bold;
	color: #fff;
	-webkit-transition: background .3s ease;
			transition: background .3s ease; }
	.add-to-cart:hover, .like:hover {
		background: #b36800;
		color: #fff; }

	.not-available {
	text-align: center;
	line-height: 2em; }
	.not-available:before {
		font-family: fontawesome;
		content: "\f00d";
		color: #fff; }

	.orange {
	background: #ff9f1a; }

	.green {
	background: #85ad00; }

	.blue {
	background: #0076ad; }

	.tooltip-inner {
	padding: 1.3em; }

	@-webkit-keyframes opacity {
	0% {
		opacity: 0;
		-webkit-transform: scale(3);
				transform: scale(3); }
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
				transform: scale(1); } }

	@keyframes opacity {
	0% {
		opacity: 0;
		-webkit-transform: scale(3);
				transform: scale(3); }
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
				transform: scale(1); } }
/* Detailed Catalog */
#test {
  height: 150px;
  border-bottom: 1px solid gray;
}

#fixed {
    height: 400px;
    overflow: auto;
}

/* custom material */
md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 248px;
    height: -webkit-fill-available;
}
md-tab-content {
	overflow: -webkit-paged-x;
}
.selected {
  background-color: yellow;
}
/* -------------------------- */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
  font-size: unset;
  padding:10px;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
  padding:20px;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}