/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0; 
}
html, body{
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	background: #fff;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
	outline:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0; 
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- header-top --*/
.header-top{
	background: #10c7bf;
    padding: 1em 0;
}
.social{
	float:left;
}
.social ul{
	padding:0;
	margin:0;
}
.social ul li{
    display: inline-block;
    margin: 0;
}
.social ul li a.facebook{
    background: url(../images/social.png) no-repeat 0px 0px;
    width: 30px;
    height: 30px;
    display: block;
}
.social ul li a.twitter{
    background: url(../images/social.png) no-repeat -30px 0px;
}
.social ul li a.chrome{
    background: url(../images/social.png) no-repeat -60px 0px;
}
.social ul li a.dribbble{
    background: url(../images/social.png) no-repeat -90px 0px;
}
.social ul li a.facebook:hover{
	opacity:.5;
}
.w3layouts-details {
	float:right;
}
.w3layouts-details ul{
    padding: 0;
    margin: .3em 0 0 0;
}
.w3layouts-details ul li {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: .9em;
}
.w3layouts-details ul li:nth-child(1) {
    margin-right: 3em;
}
.w3layouts-details ul li a {
    color: #fff;
    text-decoration: none;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3layouts-details ul li a:hover{
    color: #000; 
}
.glyphicon-earphone, .glyphicon-envelope {
    font-size: 1em;
    margin-right: 1em;
}
.header {
    padding: 1em 0 3em;
    background: #fff;
    position: relative;
    border-bottom: solid 10px #10c7bf;
}

.w3ls-logo{
    float: left; 
}
.w3ls-logo h1{
	margin:0;
}
.w3ls-logo h1 a {
    color: #2B2B2B;
    font-size: 1.8em;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: -2px;
    font-weight: 600;
	display: inline-block;
}
.w3ls-logo h1 a span { 
	font-weight:100;
	letter-spacing: 2px;
}
.header-top-right {
    float: right;
    margin: 1.2em 0 0 0;
	width: 20%;
}
.header-top-right form input[type="text"] {
    font-size: .9em;
    color: #2b2b2b;
    float: left;
    outline: none;
    border: 1px solid #2b2b2b;
    padding:0.5em 3em .5em 0.5em;
    -webkit-appearance: none;
	width: 100%;
}
.header-top-right form input[type="submit"] {
    color: #FFF;
    background: #2b2b2b url(../images/search.png) no-repeat center;
    float: left;
    border: none;
    outline: none;
    padding: .45em 1.2em;
    text-transform: uppercase;
    -webkit-appearance: none;
    margin-left: -2.399em;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
}
.header-top-right form input[type="submit"]:hover {
    background-color: #10c7bf;
}
.top-nav { 
	z-index: 400;
    position: absolute;
    margin: 1em 0 0 0;
	background:#2B2B2B;
}
.navbar-default {
    border: none !important;
    background: none !important;
    margin: 0 !important;
    min-height: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none !important;
}
div#bs-example-navbar-collapse-1 {
    padding: 0;
}
.top-nav ul{
    padding: 0;
    float: none;
}
.top-nav ul li{
    display: inline-block;
    margin: 0 !important;
    float: none;	
}
.glyphicon-home {
    font-size: 1em;
    color: #FFFFFF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none !important;
}
.top-nav ul li a{
    color: #FFF !important;
    font-size: 1em;
    margin: 0;
    text-decoration: none;
    padding: 1.5em;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
	outline:none;
}
.top-nav ul li a:hover,.top-nav ul li a.active{
    color: #00f3e8 !important;
} 
.top-nav ul li.home-icon{
    margin-left: 0 !important;
}
.top-nav ul li.home-icon a,.top-nav ul li.home-icon a:focus{
    background: #c710af;
	outline:none;
} 
.top-nav ul li.home-icon a:hover {
    background: #10c7bf;
}
.caret {
    margin-left: 3px;
}
ul.dropdown-menu {
    background: #2b2b2b;
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 4.8em;
    left: 0;
    min-width: 100px;
    padding: 0;
}
.dropdown-menu > li {
    text-align: left;
    display: block !important;
}
.dropdown-menu > li > a {
    display: block;
    padding: 0px !important;
    clear: both;
    margin: 1em !important;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFF !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: none;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
    left: 100%;
    margin-top: -5px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
} 
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.top-nav ul li.login {
    margin-left: 33% !important;
}
/*--Login --*/
#loginContainer {
    position:relative;
}
/* Login Button */
#loginButton {  
    position:relative;
    z-index:30;
    cursor:pointer;
}
/* Login Box */
#loginBox {
    position: absolute;
    top: 45px;
    left: -198px;
    display: none;
    z-index: 99999;
}
#loginForm:after {
    content: '';
    position: absolute;
    right: 40px;
    top: -9px;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid #fff;
}
/* Login Form */
#loginForm {
   width: 300px;
	background: #fff;
	border: 1px solid #d6d6d6;
}
#loginForm fieldset {
    margin:0 0 15px 0;
    display:block;
    border:0;
    padding:0;
}
fieldset#body {
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    padding:15px 15px;
    margin:0;
}
#loginForm #checkbox {
    width:auto;
    margin:3px 6px 0 0;
    float:left;
    padding:0;
    border:0; 
}
#body label {
    color:#87807c;
    margin:10px 0 0 0;
    display:block;
    float:left;
    font-size:0.9em;
}
#loginForm #body fieldset label{
    display: block;
    float: none;
    margin: 0 0 6px 0;
    font-weight: 400;
	text-align: left;
}
#body label i {
    color:#10c7bf;
    font-size: 1em;
    font-weight: 400;
}
/* Default Input */
#loginForm input {
    width: 100%;
    border: 1px solid #DADADA;
    color: #777;
    background: #FFF;
    padding: 6px;
    font-size: 0.9em;
    -webkit-apperance: none;
}
/* Sign In Button */
#loginForm #login {
    background: #10c7bf;
    color: #fff;
    font-size: 1em;
    padding: 5px 20px;
    border: 1px solid #10c7bf; 
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
#loginForm #login:hover {
    background: #fff;
    color:#10c7bf; 
}
/* Forgot your password */
#loginForm span {
    display: block;
    padding-bottom: 15px;
    text-align: center;
}
#loginForm span a{
    font-weight: 400;
    color: #2B2B2B !important;
    padding: 0 !important;
    font-size: .9em;
}
#loginForm span a:hover{
    text-decoration: none;
    color: #10c7bf !important;
}
input:focus {
    outline:none;
}
/*--//Login --*/

/*------------------ Slider Part starts Here----------*/
.slider{
	position: relative;
	width: 100%;
	overflow: hidden;
	transition: all .3s;
	perspective: 900px;
	transform-style: preserve-3d;
}
.slider .previous, .slider .next{
	font-family: "FontAwesome";
	font-size: 20px;
	position: absolute;
	top: 50%;
	color: white;
	padding: 20px;
	text-decoration: none;
	
	margin-top: -34px;
	transition: all .3s;
	opacity: 0;
	z-index: 10000;
}
.slider .next{
	right: -100px;
	content: "\f054";
	left: auto;
}
.slider:hover .previous, .slider:hover .next{
	opacity: 1;
}
.slider:hover .previous{
	left: 0;
}
.slider:hover .next{
	right: 0;
}
.slider .slides{
	height: 100%;
}
.slide{
	padding: 10%;
	width: 100%;
	text-align: center;
	position: relative;
	
	opacity: 0;
	transition: all .3s;
}
.slide .text-slide{
	margin: 30px 0px 30px 0px;  
	padding: 10px;
	background: rgba(0,0,0,0.5);
	display: inline-block;
	}
.slide.blue{
	background: url("../images/pz.jpg") center ;
	background-size: cover;
	color: rgb(255, 255, 255);

}
.slide.white{
	background: url("../images/ft.jpg") center ;
	background-size: cover;
	color: #ececec;

}
.slide.red{
	background: url("../images/bienvenido.png") center ;
	background-size: cover;
	color: #ececec;
}
.slide.active{
	z-index: 10;
	left: 0;
	opacity: 1;
	transform: scale(1,1);
}

.slide.inactiveLeft{
	left: -100vw;
	z-index: 11;
}
.slide.inactiveRight{
	left: 100vw;
	z-index: 11;
}
.slide:after{

font-family: "FontAwesome";
font-size: 15vw;
position: absolute;
bottom: -8vw;
left: 0;
opacity: 0.3;
}
.slide a{
	color: inherit;
	border: 2px solid;
	padding: 10px;
	font-size: 1.3vw;
	margin-top: 20px;
	display: inline-block;
	transition: all .3s;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;
}
.slide a:hover{
	background: rgba(255, 255, 255, 0.2);
	border: 2px solid transparent;
	text-decoration: none;
	letter-spacing: 2px;
	padding-right: 30px;
}
.slide a:after{
	content: " \f105";
	font-family: "FontAwesome";
	position: absolute;
	margin-left: -10px;
	transition: all .3s;
	opacity: 0;
}
.slide a:hover:after{
	margin-left: 10px;
	opacity: 1;
}
.slider .bullets{
	text-align: center;
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.slider .bullets .bullet{
	position: relative;
	display: inline-block;
	background: rgba(255,255,255,.8);
	border-radius: 50%;
	width: 8px;
	height: 8px;
	z-index: 14;
	margin: 0 5px;
	cursor: pointer;
	border: 2px solid transparent;
	transition: all .3s;
}
.slider .bullets .bullet.active{
	background: rgba(255,255,255,.4);
}
.slider .bullets .bullet:hover{
	border: 2px solid rgba(255,255,255,.8);
	background: transparent;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 12px;
    width: 12px;
    background: #fff;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
}
.callbacks_here a:after,.callbacks_here a:hover:after{
    border-color:#10c7bf;
    background: #10c7bf;
}
/*-- welcome --*/
.welcome {
	padding: 5em 0;
    text-align: center;
}
.welcome-info {
    width: 50%;
    margin: 0 auto;
}
.agileits-title{
    font-size: 5em;
    margin: 0;
    color: #10c7bf;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
}
.welcome-info h5 {
    font-size: 1.3em;
    font-weight: 600;
    color: #020202;
    margin: 1.5em 0;
}
.welcome-info p {
    color: #777;
    font-size: .9em;
    margin: 0;
    line-height: 2em;
}
/*-- slider --*/
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
    overflow: hidden;
    margin-top: 0;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
}
ul#flexiselDemo1 li a{
	text-decoration:none;
	display:block;
}
ul#flexiselDemo1 li a h4{
	text-align: left;
    padding-left: 14px;
	color:#478D06;
	font-family: 'Exo2-Medium';
	font-size:1.2em;
	margin-top:0.5em;
}
ul#flexiselDemo1 li a h4:hover{
	color: #DBC585;
}
.nbs-flexisel-item > a img {	
	cursor: auto;
    position: relative;
    width: 100%;
    margin: 0;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 45px;
	height: 45px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	margin-top:0em;
}
.nbs-flexisel-nav-left {
    left: 0;
    background: url(../images/img-sprite-left-right.png) no-repeat 0px 0px;
}
.nbs-flexisel-nav-right {
	right: 0px;
	background: url(../images/img-sprite-left-right.png) no-repeat -54px 0px;
}
/*-- news --*/
.news {
    padding: 5em 0;
}
.news-info h3,.news-w3agileitsinfo h3,.about-w3grid h3, .about-team h3, .choose h3 {
    color: #10c7bf;
    font-size: 4em;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 100;
}
.news-grids {
    margin: 5em 0 0 0;
}
.news-grid-left:nth-child(1){
    padding-bottom: 3em;
    border-bottom: ridge 1px #DCDCDC;
    margin-bottom: 3em;
}
.date{
    background: #2B2B2B;
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
.date p{
    color: #FFF;
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: .3em 0 0 0;
}
.date span{
    display: block;
    line-height: 0.6em;
    color: #FFF;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
	margin-top: .3em;
}
.date-info a{
	color:#2B2B2B;
	font-size:1em;
	font-weight:600;
	margin:0;
	text-decoration:none;
}
.date-info a:hover{
    color: #10c7bf;
}
.date-info p{
    font-size: .9em;
    margin: 1em 0 2em 0;
    color: #777;
    line-height: 2em;
}
.news-agileimg img{
    width: 65%;
}
.news-grid-right {
    margin: 4.8em 0 0 0;
}
.news-grid-right h5{
	color:#2B2B2B;
	font-size:1em;
	font-weight:600;
	margin:0;
}
.news-grid-right p{
    font-size: .9em;
    margin: 1em 0 3em 0;
    color: #777;
    line-height: 2em;
}
.news-button a,.choose-button a {
    background: none;
    color:#10c7bf;
    font-size: 1em;
    padding: .5em 3em;
    text-decoration: none;
    border: solid 2px#10c7bf;
    letter-spacing: 1px;
	display: inline-block;
}
.news-button a:hover,.choose-button a:hover{
	border: solid 2px#10c7bf !important;
    background: #10c7bf !important;
    color: #FFFFFF !important;
}
/*-- news-bottom --*/
.news-bottom{
    background: url(../images/1.jpg) no-repeat center fixed;
    padding: 0em 0;
    background-size: cover;
}
.news-w3agileitsinfo{
    background: #10c7bf;
    padding: 4em;
    width: 50%;
}
.news-w3agileitsinfo h3{
    color: #FFF;
    text-align: left;
    font-size: 2.5em !important;
    text-transform: uppercase;
}
.news-w3agileitsinfo p{
    color: #FFF;
    font-size: .9em;
    margin: 2em 0 0 0;
    line-height: 2em;
}
/*-- footer --*/
.footer{
    padding: 4em 0;
    background: #2B2B2B;
}
.footer-left{
	text-align: center;
	float:left;
}
.w3-agileitsicons ul{ 
	padding:0;
	margin:0;
}
.w3-agileitsicons ul li {
    display: inline-block;
    margin: 0 0.3em;
}
.w3-agileitsicons ul a {
    color: #10c7bf;
    background: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #ffffff;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    text-decoration: none;
}
.w3-agileitsicons ul li a i.fa {
    font-size: 0.9em;
    text-align: center;
    width: 28px;
    height: 28px;
    display: block;
    line-height: 2em;
}
.w3-agileitsicons ul li a:hover {
    background: none;
	color:#fff;
}
.f-address{
    margin: 3em 0;
}
.f-address p.text {
    font-size: .9em;
    margin: 0em auto;
    color: #fff;
    line-height: 2em;
    width: 58%;
}
.f-address p.number{
    font-size: 2em;
    margin: 1em 0 0 0;
    color: #10c7bf;
}
.copyright{
	margin:2em 0 0 0;
}
.copyright p{
	font-size: .9em;
    margin:0;
    color: #fff;
    line-height: 1.8em;
}
.copyright p a{
	color: #fff;
	text-decoration:none;
}
.copyright p a:hover{
	color:#10c7bf;
}
.footer-right{
	float:right;
}

.footer-right h5 {
    color: #fff;
    margin: 0 0 1em 0;
    font-size: 2.5em;
    font-family: 'Open Sans Condensed', sans-serif;
}
.footer-right input[type="text"] {
    font-size: .9em;
    color: #777;
    width: 69% !important;
    outline: none;
    border: none;
    background: #fff;
    padding: .8em;
    -webkit-appearance: none;
}
.footer-right input[type="submit"] {
    color: #FFF;
    background: #10c7bf;
    font-size: .9em;
    width: 30% !important;
    border: none;
    outline: none;
    padding: .8em 2em;
    -webkit-appearance: none;
}
/*-- about --*/
.about{
   /*  padding: 5em 0; */
}
/*-- about-bottom --*/
.about-bottom{
   /*  margin: 4em 0; */
}
.about-w3grid img{
	width:100%;
}
.about-w3grid h3{
	text-align:left;
}
.about-w3grid h5{
	color: #000;
    margin: 0 0 1em;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.8em;
}
.about-w3grid p{
	color: #777;
    font-size: .9em;
    margin: 0;
    line-height: 1.8em;
}
/*-- about-team --*/
.about-team {
    margin: 4em 0 0 0;
}
.team-wthreegrids {
  margin-top: 3em;
}
.team-grid img {
  width: 100%;
}
.team-grid h6 {
    font-size: 1em;
    color: #10c7bf;
    margin: 1em 0 1em 0;
    text-transform: capitalize;
    font-weight: 600;
}
.team-grid p {
    color: #777;
    font-size: .9em;
    margin: 0;
    line-height: 1.8em;
}
.team-w3icons.w3-agileitsicons ul {
    text-align: left;
    padding: 0;
    margin: 0 0 0.5em 0;
}
.team-w3icons.w3-agileitsicons ul li a {
    color: #ccc;
    border-color: #ccc;
}
.team-w3icons.w3-agileitsicons ul li a:hover{
    color: #10c7bf;
    border-color: #10c7bf;
}
/*-- choose --*/
.choose {
    padding: 4em 0 0 0;
}
.choose-w3layoutsinfo {
    margin: 4em 0 0;
}
.choose-grid h5{
    color: #000000;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.5em;
    margin: 0;
}
.choose-grid  p{
    color: #777;
    font-size: .9em;
    margin: 1.2em 0;
    line-height: 1.8em;
}
.choose-button{
	margin:2em 0 0 0;
}
/*-- //about --*/
/*-- Short-codes --*/ 
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:3em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none; 
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none; 
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.w3ls-hdg, h3.bars {
	margin-bottom: 1em;
    color: #212121;
    font-weight: bold;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
} 
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
} 
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
}
 .codes .row {
    margin: 0;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
.form-control1, .form-control_2.input-sm{
	border: 1px solid #e0e0e0;
	padding:5px 18px;
	color: #616161;
	background: #fff;
	box-shadow: none !important;
	width: 100%;
	font-size: 0.85em;
	font-weight: 300;
	height: 40px;
	border-radius: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-appearance: none;
	outline:none;
}
.control3{
	margin:0 0 1em 0;
}
.codes label {
    font-weight: 400;
}
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
	font-size: 28px;
    color: #000 !important;
    margin: 30px 0 15px;
}
.agileits-icons-title {
    text-align: center;
    font-size: 36px;
    color: #10c7bf;
    font-weight: 300;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icons .bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.icons .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.icons .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.icons .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
/*-- //icons --*/
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
} 
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
}
 .codes .row {
    margin: 0;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
.form-control1, .form-control_2.input-sm{
	border: 1px solid #e0e0e0;
	padding:5px 18px;
	color: #616161;
	background: #fff;
	box-shadow: none !important;
	width: 100%;
	font-size: 0.85em;
	font-weight: 300;
	height: 40px;
	border-radius: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-appearance: none;
	outline:none;
}
.control3{
	margin:0 0 1em 0;
}
.codes label {
    font-weight: 400;
}
@media (max-width:1080px){
.icon-box {
    padding: 8px 9px; 
}
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
}
@media (max-width:480px){
	h3.w3ls-hdg {
		font-size: 1.6em;
		margin: 1em 0 0.6em;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.codes .alert {
		font-size: 0.9em;
		padding: 10px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
	.agileits-icons-title {  
		font-size: 30px; 
	}
	h3.icon-subheading {
		font-size: 22px; 
	}
	.icons .bs-glyphicons li { 
		width: 31%; 
	} 
}
@media (max-width: 320px){ 
	.alert,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 1em;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 13px!important;
	}
	.codes .row {
		margin: 0;
	}
	.agileits-icons-title { 
		font-size: 25px;
	}
	h3.icon-subheading {
		font-size: 18px;
		margin: 21px 0 12px;
	}
}
/*-- //Short-codes --*/  
/*-- gallery --*/
.gallery-top {
    padding: 5em 0;
}
.gallery-w3agileits-row {
    margin: 4em 0 0 0;
}
.gallery-agileinfo p {
  color: #B2B2B2;
  font-size: .9em;
  margin: 1em auto 0;
  line-height: 1.8em;
  width: 70%;
}
.gallery-wthreegrid a {
    display: block;
}
.gallery-wthreegrid img {
  width: 100%;
}
.gallery-wthreegrid:hover img {
  -webkit-filter: grayscale(100%);
  opacity: 8;
  transition: all 300ms!important;
  -webkit-transition: all 300ms!important;
  -moz-transition: all 300ms!important;
}
.gallery-w3grids-middle{
	margin:2em 0;
}
/*-- contact --*/
.contact {
    padding: 5em 0;
}
.contact-agileinfo {
    text-align: center;
}
.contact h4 {
    color: #2B2B2B;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 0 1em;
}
.agile-address {
    margin: 6em 0 0;
}
.address-grids {
	padding: 0;
}
.agile-address h4 {
	margin: 0 0 .5em;
}
.contact-agileinfom {
	margin: 4em 0;
}
.agile-address p {
    margin: 0 0 .3em 0;
    font-size: 0.9em;
    color: #777;
    line-height: 1.8em;
}
.agile-address ul{
	padding:0;
	margin:0;
}
.agile-address ul li{
	display: inline-block;
}
.agile-address a {
    color: #777; 
    letter-spacing: 1px;
    transition: .5s all;
}
.agile-address a:hover {
	color:#10c7bf;
	text-decoration: none;
}
.contact-agileinfom p {
    margin: 0;
    font-size: 0.9em;
    color: #777;
    line-height: 1.8em;
} 
.contact-form input[type="text"] {
	display: inline-block;
	background: none;
	border: 1.5px solid #CBCBCB;
	width: 31.9%;
	outline: none;
	padding: 10px 15px;
	font-size: .9em;
	font-weight: 400;
	color: #777;
	margin-bottom: 1.5em;
}
.contact-form input[type="email"] {
	display: inline-block;
	background: none;
	border: 1.5px solid #CBCBCB;
	width: 32%;
	outline: none;
	padding: 10px 15px;
	font-size: .9em;
	font-weight: 400;
	color: #777;
	margin: 0 1.25em;
}
.contact-form textarea {
	background: none;
	border: 1.5px solid #CBCBCB;
	width: 100%;
	display: block;
	height: 150px;
	outline: none;
	font-size: 0.9em;
	color: #777;
	font-weight: 400;
	resize: none;
	padding: 10px 15px 10px 15px;
	margin-bottom: 1em;
}
button.btn1.btn-1.btn-1b {
    color: #FFF;
    border: none;
    background: #10c7bf;
    padding: .5em 3em;
    font-size: 1em;
    outline: none;
}
button.btn1.btn-1.btn-1b:hover {
    color: #fff;
    background: #2B2B2B;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*-- single --*/
.blog {
    padding: 5em 0;
}
.blog-top-right-grid {
  padding-right: 0 !important;
}
.Categories {
	margin:0;
}
.Categories h3,.Categories h2.agileits-title{
	font-size: 2em;
    margin: 0 0 1em 0;
    color: #10c7bf;
    font-family: 'Open Sans Condensed', sans-serif;
	text-align: left;
}
.Categories h2.agileits-title{ 
    margin: 1.5em 0 1em; 
}
.Categories ul{
	margin:0;
	padding:0;
}
.Categories ul li{
    display: block;
    background: url(../images/arrow.png) no-repeat 0px 2px;
    margin-bottom: 1em;
}
.Categories ul li a{
	font-size: .9em;
	margin: 0;
	color: #777;
	padding-left: 2em;
}
.Categories ul li a:hover{
  color: #10c7bf;
  text-decoration: none;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
}
.comments{
	margin: 4em 0;
}
.comments h3{
    font-size: 1.5em;
    margin: 0 0 1em 0;
    padding-bottom: .5em;
    color: #10c7bf;
    font-family: 'CinzelDecorative-Regular';
}
.comments-left{
    padding: .5em;
    border: 1px solid #000000;
}
.comments-left img{
	width:100%;
}
.comments-right h5{
    font-size: 1.1em;
    margin: 0 0 .5em 0;
    color: #000000;
    font-weight: 600;
}
.comments-right a{
    font-size: 1em;
    margin: 0;
    color: #575353;
    text-decoration: none;
}
.comments-right a:hover{
	text-decoration:none;
}
.comments-right p{
    display: block;
    color: #B1B1B1;
    margin: .3em 0 0 0;
    font-size: .8em;
}
.comments-text {
	padding: 1.5em 0;
	border-bottom: 1px solid #868686;
}
.comments-text:nth-child(4) {
	border: none;
}
.single-left-left p{
    margin: 0 0 1em;
    font-size: .9em;
    font-weight: 500;
    color: #777;
	line-height: 1.8em;
}
.single-left-left p a {
    color: #10c7bf;
    text-decoration: none;
}
.single-left-left p a:hover{
	color: #777;
}
.single-left-left img{
	width:100%;
}
.left-single{
	padding-right: 2em;
}
.w3response {
    margin: 4em 0;
}
.w3response h3 {
    font-size: 2em;
    margin: 0 0 1em 0;
    color: #10c7bf;
    font-family: 'Open Sans Condensed', sans-serif;
}
.media.w3response-info {
    margin-top: 3em;
}
.media-left.w3response-text-left {
    width: 13%;
    float: left;
}
.media-left.w3response-text-left a img {
    width: 90%;
} 
.w3response-text-left h5 {
    font-size: 1em;
    margin: 1em 0 0 0;
    color: #000;
}
.w3response-text-left h5 a{
	color:#2B2B2B;
}
.w3response-text-left h5 a:hover{
	color:#10c7bf;
}
.w3response-text-right p {
    color: #777;
    font-size: .9em;
    margin: 0 0 1em;
    line-height: 1.8em;
}
.w3response-text-right ul {
    padding: 0;
    text-align: right;
}
.w3response-text-right ul li {
    display: inline-block;
    color: #AFAFAF;
    font-size: .9em;
    margin-right: 1em;
}
.w3response-text-right ul li a {
    color: #10c7bf;
    font-size: .9em;
    text-decoration: none;
}
.w3response-text-right ul li a:hover{
    color: #777; 
}
.media.w3response-info {
    margin-top: 3em;
}
.agileits-opinion h3{
    font-size: 2em;
    margin: 0 0 1em 0;
    color: #10c7bf;
    font-family: 'Open Sans Condensed', sans-serif;
}
.agileits-opinion form input[type="text"] {
    width: 100%;
    color: #898888;
    outline: none;
    font-size: 1em;
    padding: .5em;
    margin: 0 .5em 1em 0;
    border: solid 1px #D5D4D4;
    -webkit-appearance: none;
}
.agileits-opinion form textarea {
	resize: none;
	width: 100%;
	color: #898888;
	font-size: 1em;
	outline: none;
	resize:none;
	padding: .5em;
	border: solid 1px #D5D4D4;
	min-height: 125px;
	-webkit-appearance: none;
}
.agileits-opinion form input[type="submit"] {
  border: none;
  outline: none;
  color: #A8A8A8;
  background: none;
  font-size: 1em;
  margin: .6em 0;
  -webkit-appearance: none;
}
.agileits-opinion form input[type="submit"]:hover {
	color:#10c7bf;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
}
.blog-left-bottom p {
    font-size: .9em;
    margin: 1em 0;
    color: #777;
    line-height: 2em;
}
.blog-left-bottom {
	margin: .5em 0;
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/up-arrow.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- responsive-start-here --*/
@media (max-width:1080px){
	.top-nav ul li.login {
		margin-left: 20% !important;
	}
	.date {
		width: 90px;
		height: 90px;
	}
	.date p {
		font-size: 2em;
	} 
	.news-info h3, .news-w3agileitsinfo h3, .about-w3grid h3, .about-team h3, .choose h3 {
		font-size: 3em;
	}
	.news-w3agileitsinfo {
		padding: 3em;
	}
	.contact-form input[type="text"] {
		width: 31.5%;
	}
}
@media (max-width:1024px){
	.top-nav {
		width: 93.5%;
	}
	.top-nav ul li.login {
		margin-left: 17% !important;
	}
	.welcome-info {
		width: 65%;
	}
}
@media (max-width:991px){
	.top-nav {
		width: 75%;
	}
	.top-nav ul li.home-icon a {
		padding: 1.5em !important;
	}
	.top-nav ul li a {
		padding: 1.5em .7em;
	}
	.top-nav ul li.login {
		margin-left: 16% !important;
	}
	.header-top-right { 
		width: 30%;
	}
	#loginBox {
		left: -226px;
	}
	.banner-w3text {
		width: 74%;
		margin: 10em 0;
	}
	.agileits-title {
		font-size: 4em; 
	}
	.welcome-info {
		width: 80%;
	}
	.welcome, .news, .about, .contact,.gallery-top,.blog{
		padding: 4em 0;
	}
	.address-grids.agileits {
		margin: 1em 0;
	}
	.footer {
		padding: 3em 0; 
	}
	.about-bottom {
		margin: 3em 0;
	}
	.date {
		float: left;
	}
	.about-w3grid h5 { 
		margin: 1em 0; 
	}
	.choose-button {
		margin: 1em 0 0 0;
	}
	.date-info {
		float: left;
		width: 80%;
	}
	.news-grid-left {
		margin-bottom: 2em;
	}
	.news-w3agileitsinfo {
		width: 75%;
	}
	.gallery-w3grids-middle {
		margin: 0;
	}
	.footer-right {
		float: none;
	}
	.footer-left {
		float: none;
		margin-top: 2em;
	}
	.team-grid {
		float: left;
		width: 50%;
		margin-bottom: 2em;
	}
	.choose-grid:nth-child(2) {
		margin: 2em 0;
	}
	.gallery-wthreegrid {
		float: left;
		width: 50%;
		margin-bottom: 2em;
	}
	.contact-form input[type="text"] {
		width: 30.7%;
	}
	.agile-address {
		margin: 3em 0 0;
	}
	.contact-agileinfom {
		margin: 3em 0;
	}
	.left-single {
		padding: 0;
	}
	.Categories {
		margin: 1.5em 0 0;
	}
}
@media (max-width:900px){
	
	.w3ls-logo h1 a { 
		font-size: 1.6em; 
	}
	.top-nav {
		width: 83%;
	}
	.f-address {
		margin: 2em 0;
	}
	.f-address p.number { 
		margin: 0.5em 0 0 0; 
	}
	.gallery-w3agileits-row {
		margin: 3em 0 0 0;
	} 
}
@media (max-width:800px){
	.top-nav {
		width: 94%;
	}
	.banner-w3text{
		margin: 10em 0 9em;
	}
	.agileits-title {
		font-size: 3.5em;
	} 
	.news-grids {
		margin: 3em 0 0 0;
	}
	.w3-agileitsicons ul li { 
		margin: 0 0.1em;
	}
}
@media (max-width:768px){
	.top-nav {
		width: 96%;
	}
	.banner-w3text {
		margin: 7em 0 9em 0;
	}  
	.news-grids {
		margin: 3em 0 0 0;
	} 
	.about-bottom {
		margin: 1em 0;
	}
	.about-w3grid {
		margin: 2em 0 0 0;
	}
	.typography {
		padding: 3em 0;
	}
	.gallery-top {
		padding: 3em 0;
	} 
	.agile-address {
		margin: 2em 0 0;
	}
	.rslides li { 
		left: 40px; 
	} 
}	
@media (max-width:767px){
	.top-nav {
		position: inherit;
		width: 100%;
	}
	.header {
		padding:1.5em 0;
		border-bottom-width:6px;
	}
	.navbar-default .navbar-toggle {
		border: none;
		color: #FFF;
		padding: 12px 10px;
		display: block;
		width: 100%;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	    background: none;
		border: none; 
	}
	.navbar-toggle {
		float: none;
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 0;
	}
	.navbar-default {
		text-align: center;
	} 
	.top-nav ul li {
		display: block;
		margin: .6em 0 !important;
	}
	.dropdown-menu > li {
		text-align: center;
	}
	ul.dropdown-menu {
	    padding: 0 !important;
	}
	.top-nav ul li.login {
		margin-left: 0% !important;
	}
	#loginForm:after {
		right: 48%;
	}
	.top-nav ul li a {
		padding: .5em 0;
	}
	.navbar-collapse {
		max-height: 695px;
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-collapse.in {
		overflow-y: inherit;
	}
	.top-nav ul {
		padding: 0 0 1em 0;
	} 
	.top-nav ul li.home-icon a {
		padding: 1em !important;
	}
	div#bs-example-navbar-collapse-1 {
		border: none;
		box-shadow: 0 0 0;
		position: absolute;
		width: 100%;
		background: #2B2B2B;
		z-index: 9999;
	}
	#loginBox {
	    position: inherit;
		left: 0;
		top: 14px;
	}
	#loginForm {
		width: 62%;
		margin:0 auto;
	}
	.banner-w3text {
		width: 85%;
	}
	.banner-w3text {
		margin: 6em 0;
	} 
	.welcome-info {
		width: 100%;
	}
	.news-w3agileitsinfo h3 {
		font-size: 2em !important;
	}
	.f-address {
		margin: 1em 0;
	}
	.f-address p.number {
		margin: 0.5em 0 0 0;
	}
	.about {
		padding: 2em 0;
	}
	.contact-form input[type="text"] {
		width: 30%;
	}
}
@media (max-width:667px){
	.callbacks_tabs { 
		right: 53px; 
	}
}
@media (max-width:640px){
	.welcome, .news, .about, .contact,.gallery-top,.blog{
		padding: 3em 0;
	}
	.header-top-right {
		width: 35%;
	}
	.banner-w3text h3 { 
		font-size: 1.3em; 
		letter-spacing: 3px; 
	}
	.Categories h2.agileits-title {
		margin: 1em 0 1em;
	}
}
@media (max-width:600px){
	.welcome-info h5 {
		font-size: 1.1em; 
		margin: 1.1em 0 0.8em;
	}
	.contact-form input[type="email"] { 
		margin: 0 1em;
	}
	.contact-form input[type="text"] {
		width: 30.5%;
	}
	}
@media (max-width:568px){
	.social {
		float: none;
		text-align: center;
	}
	.w3layouts-details ul li:nth-child(2) {
		float: right;
	}
	.w3layouts-details {
		float: none;
		margin-top: 1em;
	}
	.w3ls-logo h1 a {
		font-size: 1.4em;
	}
	.w3ls-logo h1 a {
		font-size: 1.4em;
	}
	.rslides li {
		left: 20px;
	}
	.banner-w3text {
		width: 100%;
	}
	.banner-w3text p {
		font-size: .8em;
	}  
	.agileits-title{
		font-size: 3em;
	}
	.welcome-info h5 {
		font-size: 1em;
	}
	.news-info h3, .news-w3agileitsinfo h3, .about-w3grid h3, .about-team h3, .choose h3 {
		font-size: 2.6em;
	}
	.news-agileimg {
		text-align: center;
	}
	.date {
		float: none;
		margin: 0 auto 1em;
	}
	.date-info {
		float: none;
		width: 100%;
		text-align: center;
	}
	.news-grid-left:nth-child(1) {
		margin-bottom: 2em;
	}
	.news-grid-right {
		margin: 2.8em 0 0 0;
	}
	.news-w3agileitsinfo {
		width: 80%;
		padding:1em;
	}
	.news-w3agileitsinfo p {
		font-size: .8em;
	}
	.footer {
		padding: 2em 0;
	}
	.footer-right input[type="text"] {
		width: 67% !important;
	}
	.f-address p.text { 
		width: 100%;
	}
	.about-w3grid {
		margin: 1em 0 0 0;
	}
	.choose {
		padding: 2em 0 0 0;
	}
	.choose-w3layoutsinfo {
		margin: 2em 0 0;
	} 
	.contact-form input[type="text"] {
		width: 100%;
	}
	.contact-form input[type="email"] {
		width: 100%;
		margin: 0 0 1.5em 0;
	}
	.choose-grid p { 
		margin: 0.8em 0; 
	}
	.banner-button a { 
		font-size: 0.9em; 
	}
	.banner-w3text h5 { 
		margin: 1em 0; 
	}
	.welcome, .news, .about, .contact,.gallery-top,.blog{
		padding: 2.5em 0;
	}
	.gallery-wthreegrid { 
		margin-bottom: 1em;
		padding: 0 .5em;
	}
	.copyright {
		margin: 1em 0 0 0;
	}
	.f-address p.number {
		font-size: 1.5em; 
	}
	.w3layouts-details ul li:nth-child(1) {
		margin-right: 0;
		float: left;
	}
}
@media (max-width:480px){
	.header-top-right {
		width: 40%;
	}
	.contact-agileinfom {
		margin: 2em 0;
	}
	.contact h4 { 
		font-size: 1.2em; 
		margin: 0 0 0.5em;
	}
	.navbar-default .navbar-toggle { 
		padding: 9px 10px; 
	}
	.top-nav ul li a { 
		font-size: 0.9em;
	} 
	#loginForm {
		width: 85%; 
	}
	.header {
		padding: 1em 0; 
	}
	.banner-w3text {
		margin: 5em 0;
	}
	.blog-top-left-grid,.blog-top-right-grid {
		padding: 0;
	}
	.w3response {
		margin: 2em 0;
	}
	.agileits-opinion form input[type="text"],.agileits-opinion form textarea{ 
		font-size: 0.9em; 
	}
	.media-left.w3response-text-left {
		width: 19%; 
	}
	.media-left.w3response-text-left a img {
		width: 100%;
	}
}
@media (max-width:414px){
	.header {
		padding: 1em 0;
		border-bottom-width: 6px;
	}
	.rslides li {
		left: 5px;
	}
	.banner-w3text h3 {
		font-size: 1.2em;
		letter-spacing: 2px;
	}
	.banner-button a {
		font-size: 0.85em;
	}
	.banner-buttons {
		margin: 1em 0 0;
	}
	.banner-w3text h5 { 
		font-size: 0.9em; 
	}
	.agileits-title {
		font-size: 2.5em;
	}
	.welcome-info h5 {
		font-size: 0.9em;
		line-height: 1.6em;
	}
	.welcome-info p { 
		font-size: .8em; 
	}
	.news-grids {
		margin: 2em 0 0 0;
	}
	.news-info h3, .news-w3agileitsinfo h3, .about-w3grid h3, .about-team h3, .choose h3 {
		font-size: 2.2em;
	}
	.welcome, .news, .about, .contact,.gallery-top,.blog{
		padding: 2em 0;
	}
	.news-wthreegrid {
		padding: 0;
	}
	.date-info p {
		font-size: .8em;
		margin: 1em 0; 
	}
	.news-button a, .choose-button a { 
		font-size: 0.8em;
		padding: .4em 2.5em; 
	} 
	.news-w3agileitsinfo {
		width: 90%;
		padding: 2em;
	}
	.news-w3agileitsinfo h3 {
		font-size: 1.6em !important;
	}
	.footer-right h5 { 
		margin: 0 0 0.6em 0;
		font-size: 2.2em; 
	}
	.footer-right { 
		padding: 0;
	}
	.w3-agileitsicons ul li a i.fa {
		font-size: 0.8em; 
		width: 25px;
		height: 25px; 
	}
}
@media (max-width:384px){
	.w3layouts-details ul li {
		font-size: .85em;
	}  
	.w3ls-logo h1 a {
		font-size: 1.1em;
	}
	.w3ls-logo h1 a span { 
		letter-spacing: 0px;
	}
	.glyphicon-earphone, .glyphicon-envelope { 
		margin-right: 0.8em;
	}
	.header-top-right {
		width: 50%;
		margin: 0.5em 0 0 0;
	} 
	.header-top-right form input[type="text"] { 
		font-size: .8em;
	}
	.header-top-right form input[type="submit"] { 
		padding: .35em 1.1em; 
		margin-left: -2.2em; 
		background-size: 45%;
	}
	.navbar-default .navbar-toggle {
		padding: 6px 10px;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		padding: 6px 10px;
	}
	.top-nav ul li a {
		font-size: .9em;
	}
	#loginForm {
		width: 88%;
		margin: 0 auto;
	} 
	.banner-w3text {
		margin: 4em 0;
	} 
	.banner-w3text h5 {
		margin: 1em 0 1em 0;
	} 
	.banner-w3text h3 {
		font-size: 1.1em;
		letter-spacing: 1px;
	}
	.rslides li {
		left: 0px;
	}
	.banner-button a {
		font-size: .8em;
	}
	.banner-buttons {
		margin: 1em 0 0;
	}
	.banner-w3text p {
		line-height: 1.5em;
	}  
	.agileits-title{
		font-size: 2.2em;
	}
	.welcome-info p {
		font-size: .8em;
	}
	.nbs-flexisel-nav-left {
		top: 79.5px !important;
	}
	.nbs-flexisel-nav-right {
		top: 79.5px !important;
	}
	.news-grids {
		margin: 2em 0 0 0;
	} 
	.date-info p {
		font-size: .8em;
	}
	.news-grid-right p {
		font-size: .8em;
	}
	.news-button a, .choose-button a {
		font-size: .8em;
	}
	.news-w3agileitsinfo {
		width: 100%;
	}
	.news-w3agileitsinfo h3 {
		font-size: 1.5em !important;
	} 
	.footer-right h5 { 
		font-size: 2em;
	}
	.footer-right input[type="text"] {
		width: 100% !important;
		margin-bottom: 1em;
	}
	.footer-right input[type="submit"] {
		font-size: .8em;
		width: 50% !important;
	}
	.f-address p.text {
		width: 100%;
	}
	.f-address p.number {
		font-size: 1.4em;
	}
	.copyright {
		margin: 1em 0 0 0;
	}
	.f-address p.text {
		font-size: .8em;
	}
	.copyright p {
		font-size: .8em;
	} 
	.news-info h3, .news-w3agileitsinfo h3, .about-w3grid h3, .about-team h3, .choose h3 {
		font-size: 2em;
	}
	.about-w3grid h5 {
		font-size: .9em;
	}
	.about-w3grid p {
		font-size: .8em;
	}
	.about-team {
		margin: 2em 0 0 0;
	}
	.team-wthreegrids {
		margin-top: 2em;
	}
	.gallery-wthreegrid {
		float: none;
		width: 100%;
		margin-bottom: 1em;
		padding: 0;
	} 
	.gallery-w3agileits-row {
		margin: 1em 0 0 0;
	}  
	.contact-map iframe {
		height: 180px;
	}
	.agile-address p {
		font-size: 0.8em;
	}
	.contact h4 {
		font-size: 1em;
	}
	.contact-agileinfom p {
		font-size: 0.8em;
	}
	.contact-agileinfom {
		margin: 1em 0;
	} 
	.contact-form input[type="text"],.contact-form input[type="email"],.contact-form textarea{
		font-size: .8em;
		margin-bottom: 1em;
	} 
	button.btn1.btn-1.btn-1b {
		font-size: .9em;
	}  
	.footer-left {
		margin-top: 1em;
	} 
	.team-grid {
		float: none;
		width: 100%;
		margin-bottom: 1em;
	}
	.team-grid p {
		font-size: .8em;
	}
	.choose-grid h5 {
		font-size: .9em;
	}
	.choose-grid p {
		font-size: .8em;
	}
	.typography {
		padding: 1em 0;
	}
	.typography-info {
		margin-bottom: 1em;
	}
	.about-w3grid { 
		padding: 0;
		margin: 0;
	}
}
@media (max-width:320px){
	.w3layouts-details ul li {
		font-size: .72em;
	}  
	.w3ls-logo h1 a {
		font-size: 1em;
	}
	.glyphicon-earphone, .glyphicon-envelope { 
		margin-right: 0.8em;
	}
	#loginForm:after {
		right: 47%;
	}
	.about-w3grid {
		margin: 0;
	}
	.choose-w3layoutsinfo {
		margin: 1em 0 0;
	}
	.choose-grid:nth-child(2) {
		margin: 1em 0;
	}
	.top-nav ul li { 
		margin: .2em 0 !important;
	} 
	.banner-w3text h3 { 
		letter-spacing: 0px;
	}
	.banner-w3text p {
		font-size: .75em;
	}
	.banner-w3text {
		margin: 3em 0;
	}
	.date p {
		font-size: 1.5em;
		padding: 0.7em 0 0 0;
	}
	.news-agileimg img {
		width: 91%;
	}
	.top-nav ul li.home-icon a {
		padding: 0.6em !important;
	}
	.single-left-left p { 
		font-size: 0.85em; 
	}
	.blog-left-bottom p {
		font-size: .8em; 
	}
	.media.w3response-info {
		margin-top: 1.5em;
	}
	.media-left.w3response-text-left {
		width: 35%; 
	}
	.w3response-text-right p { 
		font-size: .8em; 
	}
	.w3response h3,.agileits-opinion h3,.Categories h3, .Categories h2.agileits-title{
		font-size: 1.8em;
		margin: 0 0 0.6em 0; 
	}
	.media-left.w3response-text-left { 
		float: none;
		margin-bottom: .5em;
	}
	.w3response-text-right ul li { 
		font-size: .8em; 
	}
	.w3response-text-right ul { 
		text-align: left;
	}
	.w3response-text-right p { 
		margin: 0 0 0.5em; 
	}
	.agileits-opinion form input[type="text"],.agileits-opinion form textarea{ 
		font-size: 0.85em; 
	}
	.Categories ul li a {
		font-size: .8em; 
		padding-left: 1.5em;
	} 
}