<div ng-form name="myForm">
    <br>Inserta una Banana en el microondas<br>
    Microondas<input type="text" id="input" name="input" ng-model="apiTest_controller.input1" required><br>
    <input type="button" ng-show="myForm.input.$valid" ng-click="apiTest_controller.enviar()" value="Cerrar Microondas"><br>
    {{apiTest_controller.result}}
</div>