<div>
    <a href="#/"><input type="button" value="Test Form"></a>
    <a href="#/directive"><input type="button" value="Directive Test"></a>
    <a href="#/apiTest"><input type="button" value="Api Connector  Test"></a>
    <a href="#/transport"><input type="button" value="Transporte de datos Test"></a>
    <a href="#/calculadora"><input type="button" value="Calculadora"></a>
    <br>

</div>