<div class="contact_form">
    <div class="container">  
        <form id="contact" name="contact">
            <h4>Contact us for custom quote</h4>
            <fieldset>
            <input name="inputName" ng-model="contact_controller.contacto.inputName"  placeholder="Your Name" type="text" tabindex="1" required autofocus>
            <span class="cd-error-message" ng-show="contact.inputName.$error.required && (contact.inputName.$dirty || contact.inputName.$touched)">El nombre es requerido</span>
            </fieldset>
            <fieldset>
            <input name="inputEmail" ng-model="contact_controller.contacto.inputEmail" placeholder="Your Email Address" type="email" tabindex="2" required ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
            <span class="cd-error-message" ng-show="contact.inputEmail.$error.required && (contact.inputEmail.$dirty || contact.inputEmail.$touched)">El email es requiredo</span>
            <span class="cd-error-message" ng-show="contact.inputEmail.$error.email">The email is not valid</span>
            </fieldset>
            <fieldset>
            <textarea name="inputSubject" ng-model="contact_controller.contacto.inputSubject" placeholder="Type your message here...." tabindex="5" required></textarea>
            <span class="cd-error-message" ng-show="contact.inputSubject.$error.required && (contact.inputSubject.$dirty || contact.inputSubject.$touched)">El mensaje es requerido</span>		
            </fieldset>
            <fieldset>
            </fieldset>
            <button ng-click="contact_controller.SubmitContact()" name="submit" id="contact-submit" ng-show="contact.inputName.$valid && contact.inputEmail.$valid  && contact.inputSubject.$valid">Submit</button>
            
        </form>
    </div>
</div>

