<html ng-app='test'>

    <head>
        <title>AngularJS App</title>
        <!-- <script src="controller.js"></script>
        <script src="factory.js"></script> -->
    </head>
    <body>
        <div  ng-controller='Compare_controller'>
            <div ng-repeat="item in items" ng-class="{'selected': item == selected1 || item == selected2}"ng-click="select(item)">
                {{item}}
            </div>
            <br>
           <test ng-show="selected2" id={{compare}}></test>
           
        </div>
    </body>
    <!-- librerias -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.18/angular-material.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js" ></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-cookies.min.js" ></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.18/angular-material.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css"/>
	<!-- librerias -->
</html>

