<div class="auth_container">
	<div class="login-wrap">
		<div class="login-html">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
			<div class="login-form">
				<form name="sing_in_form">
					<div class="sign-in-htm">
						<div class="group">
							<label for="pass" class="label">Email Address</label>
							<input id="pass" name="IN_MAIL" ng-model="auth_controller.form.inputEmail" type="text" class="input" required>
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="pass" type="password" name="IN_PASS" ng-model="auth_controller.form.inputPass"  class="input" data-type="password">
						</div>
						<span class="error_span">{{auth_controller.login_error}}</span>
						<div class="group">
							<input ng-click="auth_controller.sing_in()" type="submit" class="button" value="Sign In">
						</div>
						<div class="hr"></div>
						<div  class="group">
							<span >Forgot Password?</span>
							<input id="forg-pass" ng-model="auth_controller.form.inputForgEmail" type="forg-pass" class="input" placeholder="Introduce un Mail">
						</div>
						<span class="error_span">{{auth_controller.error_forgot}}</span>
						<div class="group">
							<input ng-click="auth_controller.forgot_pass()" type="submit" class="button" value="Enviar">
						</div>
					</div>
				</form>
				<form name="sign_up_form">
					<div class="sign-up-htm">
						<div class="group">
							<label for="user" class="label">Username</label>
							<input id="user" name="UP_NAME" ng-model="auth_controller.form.inputName" type="text" class="input" required>
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="pass" name="UP_PASS" ng-model="auth_controller.form.inputPass" type="password" class="input" data-type="password" required>
						</div>
						<div class="group">
							<label for="pass" class="label">Repeat Password</label>
							<input id="pass" name="UP_RE_PASS" type="password" class="input" data-type="password" required>
						</div>
						<div class="group">
							<label for="pass" class="label">Email Address</label>
							<input id="pass" name="UP_MAIL" ng-model="auth_controller.form.inputEmail" type="text" class="input" required>
						</div>
						<div class="group">
							<default-Image-Set class="user_select_avatar" val-through-equals="auth_controller.form.avatar"></default-Image-Set>
						</div>
						<span class="error_span">{{auth_controller.error_register}}</span>
						<div class="group">
							<input ng-click="auth_controller.sing_up()" name="submit" type="submit" class="button" value="Sign UP"							>
						</div> 
						<div class="hr"></div>
						
					</div>
				</form>
			</div>
		</div>
	</div>
</div>	
