<div ng-cloak="" >
  <md-content>
    <md-tabs class="md-primary" md-center-tabs="">
      <md-tab label="Perfil">
        <md-content class="md-padding">
          <h2 class="md-display-1">Perfil</h2>
          <p class="md-body-1">
              <div id="my_acount" class="tab-pane fade in active">
                <div class='profile_user_avatar'><img ng-src="{{auth_controller.user_profile_data.user_avatar}}"></div>
                <div class='profile_user_name'><p>{{auth_controller.user_profile_data.user_name}}</p></div>     
            </div>
          </p>
        </md-content>
      </md-tab>
      <md-tab label="Editar Perfil">
        <md-content layout-gt-sm="row" layout-padding="" class="md-padding">
          <p class="md-body-1">
            <form name="change_pass_form">
                <md-input-container>
                  <label>Password</label>
                    <input name="change_pass" ng-model="auth_controller.change_form.inputpass1"
                      ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/"required>
                      <div class="error" >{{auth_controller.change_pass_error}}</div>
                      <div ng-messages="change_pass_form.change_pass.$error" ng-if="!showHints">
                        <div ng-message="required">To change the password, new password is required.</div>
                        <div ng-message="pattern">The Password has to be less than 8 characters long, one upercase letter and a nonalphanumeric simbol.</div>
                      </div> 
                </md-input-container>
                <md-button  ng-show="change_pass_form.$valid" ng-click="auth_controller.change_pass()" class="md-raised md-primary">Change password</md-button>
            </form>
            <div ng-controller="AppController as app">
              <div drop-zone ng-model="app.data.upload" class="one">
                  <!-- Transcluded content -->
                  <img ng-repeat="file in app.data.upload" ng-if="file.type.indexOf('image')!==-1" ng-src="{{file.data}}" />    
                  <p>Drop files here <span>(or click to upload)</span></p>
              </div>
              <span class="error">{{app.error}}</span>
              <!-- Show images -->
              <input type="button"  ng-click="app.upload('authentication@auth')" value="Send"/>
              <input type="button"  ng-click="app.delete()" value="Delete Image"/>          
        </div>
          </p>
        </md-content>
      </md-tab>
      <md-tab label="three">
        <third-Tab ></third-Tab>
      </md-tab>
    </md-tabs>
  </md-content>
</div>