<div ng-controller="stock_controller as stock_controller">
    </br>
    <form class="form-inline">
        <div class="form-group">       
            <label >Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>
    <div class="flex-container">
        <div  dir-paginate="items in stock_controller.print|filter:search|itemsPerPage:1">
            <div class="flex-item ">
               <a class="product_tittle">{{items.modelo.ms_name}}</a>
                <img class="product_image" ng-src="{{items.url}}">
                
            </div>
            Current Price:<input type="text" ng-model="stock_controller.price" ng-init="stock_controller.price=items.modelo.custom_price" > 
            </br>
            Current Stock:<input type="text" ng-model="stock_controller.stock" ng-init="stock_controller.stock=items.modelo.stock">
            </br>

            <input type="button" ng-click="stock_controller.modificate_stock('both',items.modelo.ms_name)" value="Update All"  
            ng-show="stock_controller.price != items.modelo.custom_price && stock_controller.stock != items.modelo.stock && stock_controller.stock >= 1" >

            <input type="button" ng-click="stock_controller.modificate_stock('up_p',items.modelo.ms_name)" value="Update the Price"
            ng-show="stock_controller.price != items.modelo.custom_price &&  stock_controller.stock == items.modelo.stock "> 

            <input type="button" ng-click="stock_controller.modificate_stock('up_s',items.modelo.ms_name)" value="Add or delete items"
            ng-show="stock_controller.stock != items.modelo.stock && stock_controller.stock >= 1 && stock_controller.price == items.modelo.custom_price">

            <input type="button" ng-click="stock_controller.modificate_stock('del_s',items.modelo.ms_name)" value="Delete item from stock"
            ng-show="stock_controller.stock == 0" >                
        </div>
    </div>
    <dir-pagination-controls max-size="3" direction-links="true" boundary-links="true" > </dir-pagination-controls>
</div>