<html lang="{{ lang }}" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>AngularJS Translation</title>
 
    
  </head>
 
  <body ng-controller="Ctrl">
    <h1>AngularJS Translation</h1>
      
    <div>
      <button ng-show="lang === 'es'" ng-click="changeLanguage('en')">{{'BUTTON_LANG' | translate | uppercase}}</button>
      <button ng-show="lang === 'en'" ng-click="changeLanguage('es')">{{'BUTTON_LANG' | translate | uppercase}}</button>
    </div>
    
    <h2>{{ 'TITLE' | translate}}</h2>          
    <p>{{'FOO' | translate}}</p>
</body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
  <script src="app.js"></script>
</html>