<!-- <div ng-include='"frontend/assets/includes/slider.view.html"'></div> -->
<slide-for-shops></slide-for-shops>
<div class="about">
    <div class="aboutw3-agileinfo">
        <!-- container -->
        <div class="container">
            <h2 class="agileits-title">{{ 'PORDUCTS_TITLE' | translate}}</h2>
        </div>
        <!-- //container -->
    </div>
    <!-- about-bottom -->
    <div class="about-bottom">
        <!-- container -->
        <div class="container">
            
            <div id="fixed" when-scrolled="home_main_controller.loadMore()">
                <ul>
                    <li id="test" ng-repeat="i in home_main_controller.items |  limitTo:home_main_controller.long:0 ">
                        {{i.modelo.ms_name}} 
                    </li>
                </ul>  
            </div>
    </div>
    <!-- about-bottom -->
</div>